{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light d-flex flex-column justify-content-between vh-100">


    <div id="content">
        <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
            <img src="{% static 'images/errors/error404.jpg' %}" alt="404 Error" class="img-fluid mb-4">
        </div>
    </div>
</body>
</html>