{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_styles %}{% endblock %}
    <title>{% block title %}Transcendence{% endblock %}</title>
</head>

<body>

    <!-- Contenu à remplacer -->
    <div id="content">
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
    </div>

    <!-- Drapeaux (langues) -->
    <div class="position-fixed bottom-0 end-0 p-3">
        <img id="language-en" onclick="setLanguage('en')" src="{% static 'images/flags/en.jpg' %}" alt="English">
        <img id="language-fr" onclick="setLanguage('fr')" src="{% static 'images/flags/fr.jpg' %}" alt="Français">
        <img id="language-es" onclick="setLanguage('es')" src="{% static 'images/flags/es.jpg' %}" alt="Español">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function getLanguageCookie() {
			const cookies = document.cookie.split(';');
			for (const cookie of cookies) {
				const [key, value] = cookie.trim().split('=');
				if (key === 'language') {
					return value;
				}
			}
			return null;
		}

		function loadContent(url) {
			fetch(url, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
			.then(response => response.text())
			.then(html => {
				document.getElementById('content').innerHTML = html;
			})
			.catch(error => {
				console.error('Error loading content:', error);
				alert('Failed to load content. Please try again.');
			});
		}

		function setLanguage(lang) {
			const currentPath = window.location.pathname;
			const newPath = currentPath.replace(/^\/[a-z]{2}\//, `/${lang}/`); 

			window.history.pushState({}, '', newPath);
			loadContent(newPath);
			document.cookie = `language=${lang}; path=/;`;
		}

		function navigateTo(event, url) {
			event.preventDefault();
			window.history.pushState({}, '', url);
			loadContent(url);
		}

		document.addEventListener('DOMContentLoaded', function() {
			const languageCookie = getLanguageCookie();
			const currentPath = window.location.pathname;

			if (languageCookie) {
				loadContent(`${currentPath.replace(/^\/[a-z]{2}\//, `/${languageCookie}/`)}`);
			} else {
				loadContent(currentPath);
			}
		});

    </script>

</body>
</html>
