{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    Home
{% endblock %}

{% block extra_styles %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
	<div id="login-card" class="card m-3">
		<div class="card-body">
			<h2 id="sign-in" class="card-title text-center">{% trans 'Sign in' %}</h2>

			<div class="mb-3">
				<input id="login" type="text" class="form-control" placeholder="{% trans 'Username or email' %}" required>
			</div>
			<div class="mb-3">
				<input id="password" type="password" class="form-control" placeholder="{% trans 'Password' %}" required>
			</div>

			<div class="d-flex justify-content-between mb-3">
				<a id="dont-have-account" style="cursor: pointer;" onclick="navigateTo(event, '{% url 'signup' %}')">
					{% trans "Don't have an account?" %}
				</a>
			</div>

			<div class="row d-flex justify-content-center">
				<button id="sign-in" type="button" class="btn btn-primary" onclick="navigateTo(event, '{% url 'realhome' %}')">{% trans 'Sign in' %}</button>
				<hr class="my-1">
				<a id="sign-in-42" onclick="window.location.href='https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-d043e00c0555571b2b8d9af857f5a6f9eed0a7b9b447d0cd82c590f167bf2c70&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fhome%2F&response_type=code'" class="btn btn-dark" role="button">
					{% trans 'Sign in with' %}
					<img src="{% static 'images/assets/42logo.png' %}" alt="42" width="20">
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
