{% load i18n %}

<div id= "navbar" class="navbar">
    <span class="navbar-brand">Transcendence</span>
    <div id="navbar-content">
        {% if request.path == '/fr/' or request.path == '/en/' or request.path == '/es/' %}
            <a id="sign-up" onclick="navigateTo(event, '{% url 'signup' %}')" class="btn btn-outline-primary me-2">{% trans 'Sign up' %}</a>
        {% elif request.path == '/fr/signup/' or request.path == '/en/signup/' or request.path == '/es/signup/' %}
            <a id="sign-in" onclick="navigateTo(event, '{% url 'home' %}')" class="btn btn-outline-primary me-2">{% trans 'Sign in' %}</a>
        {% endif %}
    </div>
</div>