{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    Home
{% endblock %}

{% block extra_styles %}
<link href="{% static 'css/realhome.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
	<div id="game-card" class="card text-center bg-dark text-white">
		<div class="card-body">
			<h1 id="pong-title" class="display-3">PONG</h1>
			<div id="menu-options">
				<button id="vs-player" class="btn btn-outline-light m-2" onclick="showMenu('player')">{% trans 'vs Player' %}</button>
				<button id="vs-bot" class="btn btn-outline-light m-2" onclick="showMenu('bot')">vs Bot</button>
			</div>
			<div id="player-options" class="hidden">
                <h2>Player Options</h2>
                <!-- Ajoutez ici vos options spécifiques pour le mode "vs Player" -->
                <button class="btn btn-outline-light m-2" onclick="backToMenu()">Back</button>
            </div>
            <div id="bot-options" class="hidden">
                <h2>Bot Options</h2>
                <!-- Ajoutez ici vos options spécifiques pour le mode "vs Bot" -->
                <button class="btn btn-outline-light m-2" onclick="backToMenu()">Back</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showMenu(option) {
        document.getElementById('menu-options').classList.add('hidden');
        if (option === 'player') {
            document.getElementById('player-options').classList.remove('hidden');
        } else if (option === 'bot') {
            document.getElementById('bot-options').classList.remove('hidden');
        }
    }

    function backToMenu() {
        document.getElementById('menu-options').classList.remove('hidden');
        document.getElementById('player-options').classList.add('hidden');
        document.getElementById('bot-options').classList.add('hidden');
    }
</script>
{% endblock %}
