{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="content">
        <div>
            <img id="language-en" src="{% static 'images/flags/en.jpg' %}" alt="English" onclick="setLanguage('en')" style="cursor: pointer;">
            <img id="language-fr" src="{% static 'images/flags/fr.jpg' %}" alt="Français" onclick="setLanguage('fr')" style="cursor: pointer;">
            <img id="language-es" src="{% static 'images/flags/es.jpg' %}" alt="Español" onclick="setLanguage('es')" style="cursor: pointer;">
        </div>

        <div>
            <a id="play" onclick="navigateTo(event, '{% url 'game' %}')" style="cursor: pointer;">Play</a>
        </div>
    </div>

    <script>
        function fetchTranslations(lang) {
            fetch("{% static 'json/translations.json' %}")
                .then(response => response.json())
                .then(data => {
                    const translation = data[lang]["realhome"];
                    document.getElementById("play").textContent = translation["play"];
                })
                .catch(error => console.error('Erreur lors du chargement des traductions:', error));
        }

        function setLanguage(lang) {
            fetchTranslations(lang);
        }
        /**
         * Fonction de navigation pour éviter le rechargement de la page.
         * preventDefault empêche le rechargement de la page
         * pushState modifie l url sans recharger
         * loadContent charge le contenu dynamiquement
         * @param {Event} event - L'événement du clic.
         * @param {string} url - L'URL à charger.
         */
        function navigateTo(event, url) {
            event.preventDefault();
            window.history.pushState({}, '', url);
            loadContent(url);
        }

        /**
         * Fonction pour charger dynamiquement le contenu selon l'URL avec fetch.
         * @param {string} url - L'URL dont le contenu doit être chargé.
         */
        function loadContent(url) {
            fetch(url, { 
                headers: { 
                    'X-Requested-With': 'XMLHttpRequest'  // Utilisation d'AJAX pour charger le contenu
                }
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById('content').innerHTML = '';
                document.getElementById('content').innerHTML = html;
            })
            .catch(error => {});
        }

        // Gestion de l'historique du navigateur (bouton retour/avancer)
        window.onpopstate = function() {
            loadContent(window.location.pathname);
        };

        // Charger le bon contenu à l'ouverture de la page
        document.addEventListener('DOMContentLoaded', function() {
            loadContent(window.location.pathname);
        });
    </script>
</body>
</html>

